<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/locale/bootstrap-table-zh-CN.min.js"></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

	<title>Code for Good 2016</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
	<div class="container">
		<h1>Cure Alzheimer's Fund Citations</h1>
		<div id="toolbar" class="table">
		</div>

		<hr>

		<a href="#" id="exportPapersButton" class="btn btn-success" role="button">
			<i class="glyphicon glyphicon-cloud-download"></i>Export Google Scholars Data to CSV
		</a>

		<a href="#" id="exportProjectsButton" class="btn btn-success" role="button">
			<i class="glyphicon glyphicon-cloud-download"></i>Export NIH Data to CSV
		</a>

		<table id="paperTable" class="hidden">
			<thead>
				<tr>
					<th data-formatter="CheckboxFormatter" style="width:20px"></th>
					<th data-field="url" data-formatter="LinkFormatter">Url</th>
					<th data-field="title">Title</th>
					<th data-field="citations">Citations</th>
					<th data-field="abstract">Abstract</th>
					<th data-field="journal">Journal</th>
					<th data-field="volume">Volume</th>
					<th data-field="issue">Issue</th>
					<th data-field="year">Year</th>
					<th data-field="authors" data-formatter="ListFormatter">Authors</th>
					<th data-field="id" class="hidden" data-formatter="IDFormatter">ID<th>
				</tr>
			</thead>
		</table>

		<hr>

		<table id="projectTable" class="hidden">
			<thead>
				<tr>
					<th data-formatter="CheckboxFormatter" style="width:20px"></th>
					<th data-field="url" data-formatter="LinkFormatter">Url</th>
					<th data-field="title">Title</th>
					<th data-field="researcher">Researcher</th>
					<th data-field="funding_amount">Funding Amount</th>
					<th data-field="year">Year</th>
					<th data-field="id" class="hidden" data-formatter="IDFormatter" >ID</th>
				</tr>
			</thead>
		</table>

		<hr>
	</div>
	<script type="text/javascript">
		function storeCookie(id, cookie_name) {
			if (typeof $.cookie(cookie_name) === 'undefined') {
				$.cookie(cookie_name, JSON.stringify({'data': []}));
			}
			var currentTextArr = JSON.parse($.cookie(cookie_name));
			currentTextArr.data.push(id);
			$.cookie(cookie_name, JSON.stringify(currentTextArr));
		}

		function deleteCookie(id, cookie_name) {
			if (typeof $.cookie(cookie_name) === 'undefined') {
				$.cookie(cookie_name, JSON.stringify({'data': []}));
			}
			var currentTextArr = JSON.parse($.cookie(cookie_name));

			currentTextArr.data = jQuery.grep(currentTextArr.data, function(value) {
				return value != id;
			});

			$.cookie(cookie_name, JSON.stringify(currentTextArr));
		}

		function isIDNotAllowed(id, cookie_name) {
			if (typeof $.cookie(cookie_name) === 'undefined') {
				$.cookie(cookie_name, JSON.stringify({'data': []}));
			}
			var currentTextArr = JSON.parse($.cookie(cookie_name));

			return ($.inArray(id, currentTextArr.data) !== -1);
		}

		function loadNotAllowed(table, cookie_name) {
			$('#paperTable tr').each(function (i, row) {
				var $row = $(row),
					id = parseInt($row.find('.id_col').text());
				if (i === 0)
					return;
				if (isIDNotAllowed(id, cookie_name) === true)
				{
					$(row).addClass('danger');
					$(row).find('.bootstrap-checkbox').bootstrapToggle('off');
				}
			});
		}

		jQuery.get("http://localhost:8000/scraper/api/papers/?format=json", function(response) { 
			$(function () {
				$('#paperTable').bootstrapTable({
					data: response
				});

				$("#paperTable .bootstrap-checkbox").bootstrapToggle();

				loadNotAllowed($('#paperTable'), 'paper_cookies');

				$('#paperTable .bootstrap-checkbox').change(function() {
					var parent = jQuery(this).parent().parent().parent();
					parent.toggleClass("danger");
					id_val = parseInt(parent.find(".id_col").text());

					if (parent.hasClass("danger") === true)
						storeCookie(id_val, 'paper_cookies');
					else
						deleteCookie(id_val, 'paper_cookies');
				});

				$("#paperTable").removeClass("hidden");
			});
		});

		jQuery.get("http://localhost:8000/scraper/api/projects/?format=json", function(response) {
			$(function () {
				$('#projectTable').bootstrapTable({
					data: response
				});

				$("#projectTable .bootstrap-checkbox").bootstrapToggle();

				loadNotAllowed($('#projectTable'), 'project_cookies');

				$('#projectTable .bootstrap-checkbox').change(function() {
					var parent = jQuery(this).parent().parent().parent();
					parent.toggleClass("danger");
					id_val = parseInt(parent.find(".id_col").text());

					if (parent.hasClass("danger") === true)
						storeCookie(id_val, 'project_cookies');
					else
						deleteCookie(id_val, 'project_cookies');
				});

				$("#projectTable").removeClass("hidden");
			});
		});

		function CheckboxFormatter(value, row, index) {
			return "<input class=\"bootstrap-checkbox\" type=\"checkbox\" checked data-toggle=\"toggle\">";
		}

		function LinkFormatter(value, row, index) {
			return "<a href='"+value+"'>link</a>";
		}

		function ListFormatter(value, row, index) {
			return "<p>" + value.join("</p><p>") + "</p>";
		}

		function IDFormatter(value, row, index) {
			return "<p class=\"id_col\">" + value + "</p>";
		}

		// http://jsfiddle.net/terryyounghk/kpegu/
		function exportTableToCSV($table, filename) {

	        var $rows = $table.find('tr:has(td)'),
            // Temporary delimiter characters unlikely to be typed by keyboard
            // This is to avoid accidentally splitting the actual contents
            tmpColDelim = String.fromCharCode(11), // vertical tab character
            tmpRowDelim = String.fromCharCode(0), // null character

            // actual delimiter characters for CSV format
            colDelim = '","',
            rowDelim = '"\r\n"',

            // Grab text from table into CSV formatted string
            csv = '"' + $rows.map(function (i, row) {
                var $row = $(row),
                    $cols = $row.find('td');

                if($(row).hasClass("danger") === true) {
                	return;
                }

                return $cols.map(function (j, col) {
                	if (j === 0) {
                		return;
                	}
                	else {
                		if (j === 1)
                		{
                			return $(col).find("a").attr("href");
                		}
                		else
                		{
                			var $col = $(col);
                        	return $col.text().replace(/"/g, '""');
                		}
                	}

                }).get().join(tmpColDelim);

            }).get().join(tmpRowDelim)
                .split(tmpRowDelim).join(rowDelim)
                .split(tmpColDelim).join(colDelim) + '"',

            csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

	        $(this)
	            .attr({
	            'download': filename,
	                'href': csvData,
	                'target': '_blank'
	        });
	    }

		$("#exportPapersButton").on("click", function(e) {
			 exportTableToCSV.apply(this, [$('#paperTable'), 'papers.csv']);
		});

		$("#exportProjectsButton").on("click", function(e) {
			 exportTableToCSV.apply(this, [$('#projectTable'), 'projects.csv']);
		});
	</script>
  </body>
</html>
